.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  background-color: var(--livchannel-header);
  color: var(--white-color);
}

.header__left {
  flex: 0.3;
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.header__left > .MuiSvgIcon-root {
  margin-left: auto;
  margin-right: 30px;
}

.header__main {
  text-align: center;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__main > h1 {
  text-transform: uppercase;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
