:root {
  --livchannel-color: #000000;
  --livchannel-color-hover: #252525;
  --livchannel-color-semi-light: #464646;
  --livchannel-color-light: #5f5f5f;
  --white-color: white;
  --lightgray: lightgray;
  --lightgray-light: #f8f8f8;
  --gray: gray;
  --green: #00e269;
  --dark-green: #003a1b;
  --livchannel-header: #80002a;
}

body {
  overflow: hidden;
}

.app__body {
  display: flex;
  height: 100vh;
}

.app__main {
  padding: 20px;
  flex: 0.7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.app__main > h1 {
  text-align: center;
}
